@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 18px;
    font-family:"Epilogue" ;
}
body{
    position: relative;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
.Links{
    display: flex;
    gap: 46px;
    padding-left: 46px;
    align-items: center;
}
.link{
    font-size: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}
.link:hover{
    color: black;
}
.links_imagen{
    display: flex;
    gap: 5px;
    align-items: center;
}
.Flecha_abajo{
    height: 10px;
}

.Logo{
    display: flex;
    padding-top: 8px;
}
.Lista_Features{
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 13px;
    top: 59px;
    left: 140px;
    background-color: white;
    height: 22%;
    width: 150px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    color: hsl(0, 0%, 41%);
}
.Elementos{
    display: flex;
    gap: 20px;
}
.Elementos img{
    width: 15px;
    height: 20px;
}
.Elementos h3{
    font-size: 15px;
}
.Lista_Company{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    border-radius: 15px;
    gap: 15px;
    top: 59px;
    width: 120px;
    justify-content: center;
    left: 321px;
    height: 16%;
    padding: 24px;
    color: hsl(0, 0%, 41%);
}
.Lista_Company h3{
    font-size: 15px;
}
.Botones{ 
    display: flex;  
    gap: 30px;
    padding-right: 25px;
}
.Boton{
    background-color: white;
    border: none;
    color: hsl(0, 0%, 41%);
}
.Boton:hover{
    color: black;
    border-color: black;
}
.Registrarse{
    height: 40px;
    width: 100px;
    border: solid 2px hsl(0, 0%, 41%);
    border-radius: 15px;
}
main{
    display: grid;
    height: 90vh;
    padding: 0 69px 0 136px;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}
.Parrafos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 82vh;
    justify-content: space-between;
    align-items: center;
}
.Parrafos_Texto{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: max-content;
    padding-top: 60px;
}
.Titulo{font-size: 80px;}
.Aprender{
    width: 130px;
    border: none;
    height: 54px
    ;border-radius: 15px;
    background-color: black;
    color: white;
}
.Aprender:hover{
    border: solid 1px black;
    background-color: white;
    color: black;
}
.Logos{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
}
.Imagen_Principal{
    height: 82vh;
    display: flex;
    justify-content: center;
}
.Imagen_Principal img{
    height: 100%;
}
.Listado_Features{
    display: flex;
}