*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 18px;
    font-family:;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
.Links{
    display: flex;
    gap: 30px;
    padding-left: 25px;
    align-items: center;
}
.link{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}
.link:hover{
    color: black;
}
.links_imagen{
    display: flex;
    gap: 5px;
    align-items: center;
}
.Flecha_abajo{
    height: 10px;
}
.Logo{
    display: flex;
    padding-top: 8px;
}
.Botones{ 
    display: flex;  
    gap: 30px;
    padding-right: 25px;
}
.Boton{
    background-color: white;
    border: none;
    color: hsl(0, 0%, 41%);
}
.Boton:hover{
    color: black;
    border-color: black;
}
.Registrarse{
    height: 40px;
    width: 100px;
    border: solid 2px hsl(0, 0%, 41%);
    border-radius: 15px;
}
main{
    display: grid;
    height: 90vh;
    padding: 0 69px 0 136px;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}
.Parrafos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 82vh;
    justify-content: space-between;
}
.Parrafos_Texto{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: max-content;
    padding-top: 60px;
}
.Titulo{font-size: 53px;}
.Aprender{
    width: 130px;
    border: none;
    height: 54px
    ;border-radius: 15px;
    background-color: black;
    color: white;
}
.Aprender:hover{
    border: solid 1px black;
    background-color: white;
    color: black;
}
.Logos{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
}
.Imagen_Principal{
    height: 82vh;
}
.Imagen_Principal img{
    height: 100%;
}
